<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=EDGE" />
    <title>@ViewBag.Title - Portal Gateway</title>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('#to-page-top').fadeIn();
                } else {
                    $('#to-page-top').fadeOut();
                }
            });
            $("#to-page-top").click(function () {
                $("html, body").animate({ scrollTop: 0 }, 1000);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').css('background', 'url("../Images/ccoc-01.jpg") no-repeat center center fixed');
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Portal Gateway", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (string.IsNullOrEmpty(@User.Identity.Name))
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    }
                </ul>
                @{
                    var userIdentifier = string.Empty;
                    if (!string.IsNullOrEmpty(@User.Identity.Name))
                    {
                        userIdentifier = "User ID: " + @User.Identity.Name;
                    }
                }
                <p class="navbar-text navbar-right">@userIdentifier</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <span class="navbar-text">
                Wiregrass Code Technology 
            </span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>